
{% extends 'PP_Core/base.html' %}
{% load static %}

{% block content %}



<body style="background-color: green">

<h1 style="text-align: center"> {{ title_from_view }} </h1>
<br>
<br>

<div class="container-flexible" style="width:100%;">

    <div class="col-md-6">
       <p style="text-align: center">Testing</p>
        <p align="center">
            <iframe width="500" height="330" src="https://www.youtube.com/embed/KetLDW9Afzs" frameborder="0" allowfullscreen ></iframe>
        </p>
    </div>

    <style>
       td {
           border: 2px solid black;
           background-color: #aaaaaa;
           height: 120px;
           width: 120px;
           text-align: center
       }
    </style>

    <div class="col-md-6">
       <p style="text-align: center"> stuff</p>
        <table align="center">
            <tr>
                <td > Inventions not selected <div id="span1" class="t"> <br>{{ person.number_of_picks }}</div></td>
                <td > Inventions selected <div id="span1" class="t"> <br> {{ person.picks_in_production }}</div></td>
                <td > Inventions hidden <div id="span1" class="t"><br> {{ person.inventions_hidden }}</div></td>
            </tr>
            <tr>
                <td> Inventions saved <div id="span1" class="t"><br> {{ person.inventions_saved }}</div></td>
                <td> Suggested improvments <div id="span1" class="t"><br> 0</div></td>
                <td> Improvement income <div id="span1" class="t"><br> {{ person.improvement_income }}</div></td>
            </tr>
            <tr>
                <td> Inventions viewed <div id="span1" class="t"><br> {{ person.inventions_viewed }}</div></td>
                <td> Inventions not viewed <div id="span1" class="t"><br> {{ person.inventions_not_viewed }}</div></td>
                <td> Royalty income <div id="span1" class="t"><br> {{ person.royalty_income }}</div></td>
            </tr>
    </table>
    </div>
</div>
<br>
<br>
<div>
    <p style="text-align: center">
        <font size="8"> <br>Have an Invention idea? Click <a style="color: blue" href="http://127.0.0.1:8000/aboutus.html">Here</a> </font>
    </p>
</div>

<body>



{% endblock %}