{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>

    <title>Patent Picks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static "PP_Core/images/favicon.ico" %}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static 'PP_Core/PP_Core.css' %}">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'PP_Core/PP_Core.css' %}">
    <style>
        .nav__menu__uline__green a:hover {
            border-bottom: 2px solid #26CC40;
        }

    .navbar {
    z-index:10;
    }

    </style>

</head>
<body>


<nav class="navbar navbar-default nav__menu__uline__green" role="navigation">

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
            <li><a href="{% url 'discover' %}">Explore </a></li>
            <li><a href="{% url 'basics' %}">Develop </a></li>
            <li><a href="{% url 'post_basics' %}">Post </a></li>
            <li><a href="{% url 'aboutus' %}">About us</a></li>
        </ul>

        <a href="{% url 'home' %}"> <img class="navbar-brand text-hide" src="{% static "PP_Core/images/PP_Logo.png" %}"
                                         alt="Patent Pick Logo"
                                         style="transform: translateX(-50%); left: 50%; position: absolute; width: 200px;"/></a>

        <ul class="nav navbar-nav navbar-right">

            {% if user.is_authenticated %}
                <li><a href="{% url 'dashboard' %}">
                   <span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size: 150%"></span>
                <li><a href="{% url 'logout' %}">Log out</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Log in</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<!-- End of Navbar -->

{% block content %}
{% endblock %}

</body>
</html>