{% extends 'PP_Core/base.html' %}
{% load staticfiles %}
{% block content %}

     <!-- Reset CSS reduces browser inconsistancies: default line heights, margins, etc. fixes many things when putting the JS animation on
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
     -->
    <link rel="stylesheet" href="{% static 'PP_Core/PP_Core.css' %}">

<style>
/*
When these CSS selectors are put in PP_Core.css where they belong, visual  errors occur
*/
*
{
    font-family: Helvetica;
}
body {
    background-image: url('{% static 'PP_Core/images/colorbg.jpg' %}');
    background-repeat:repeat;
    background-size:100%;

}
.jumbotron {
    /*margin-top:0px;*/
    color:white;
    background: transparent;
}
</style>

    <!--
     in the jumbotron block a text word switching function is commented out because it doesn't work quite right
     it needs something akin to the skrollable JS library so it doesn't look schizophrenic
    -->
<div class="jumbotron text-center">
      <h1>
        <!--  <div class="wrap">
            <ul id="sentence">
                <li id="first">
                -->
                Explore a
                <!--
                </li>
                <ul id="adjList"></ul>
                <li id="last">
                -->
                creative universe
                <!--</li>
            </ul>
          </div>-->
      </h1>
     <p class="f5 bold mb0">  20 diverse categories. Thousands of amazing inventions. </p>
</div>

<!-- 5 x 4 categories page -->
<div class="container">
    <div class="parent-wrapper">
        <div class="parent px3 container-flex">
            {% for category in categories %}
            <div class="category-container  mobile-col mb3 child"><div class="child2 border bg-white block clip grey-dark rounded">{{ category.category_name }} </div></div>
            {% endfor %}
        </div>
    </div>
</div>
    <!--
        We may not want to put this in base rationale: this JS file will only be used on this page,
           we don't need to load this for every page load.
    -->
    <script type="text/javascript" src="{% static 'PP_Core/js/index.js' %}"></script>
{% endblock %}
</div>
