{% extends 'PP_Core/base.html' %}
{% load static %}

{% block content %}

<h1> Discover </h1>


<!-- Engineering tradeoff: this approach worked which has inherent virtue, flexboxes ( a seemingly better choice ) don't run on IE9 -->
<style>







.nav__menu__uline__green a:hover { border-bottom:3px solid #26CC40;}



/*  from 10/12 stuff  */


.bottomaligned {position:absolute; bottom:0; left: 0;}
  .bottomright {position:absolute; bottom:0;  margin:7px; right: 0;}
  .bottomleft {position:absolute; bottom:0;  left: 100px;}
.bottomrightmiddle {position:absolute; bottom:0; right: 100px;}
  .fixedheight { height: 100px;  width: 243px;  position:relative; border:1px solid;}


h1 a {
    color: #05EDF9;
}

img{
  width:100%;
  height:auto;
}


.tile {
    width:100%;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    color:#fff;
    height: 200px; // or whatever height you want all the tiles to be
}
.title {
    margin-top: 0px;
    text-align:center;
}
.purple {
    background: #5144AB;
}

div#line1 span#a {
display:inline;
}
div#line1:hover span#a {
display:none;
}
div#line1 span#b {
display:none;
}
div#line1:hover span#b {
display:inline;
}

</style>


<div class="container">
<div class="col-xs-12">
  <div class="row">
  <h2>Discoveries</h2>

    {% for category in categories %}
<div id="line1">
    <div class="col-md-3 col-xs-6 col-sm-6 col-lg-3" >
    <a href="#">
      <div class="tile purple text-center">
        <h3 class="title" ><span id="a">{{ category.category_name }} </span><span id="b">Number of Inventions in {{category.category_name}}: {{category.quantity}}</span> </h3>
        <div class="col-xs-12"><img class="img-responsive" style="max-height:128px; max-width:128px" /></div>
      </div>
    </a>
    </div>
</div>
   {% endfor%}

  </div>
</div>
</div>
{% endblock %}