{% extends 'PP_Core/base.html' %}
{% load static %}

{% block content %}

<div class="flexible-container">

    {% include "PP_Inventions/invention_navigation.html" %}

    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="text-center">
            </br>
            </br>
            <p style="font-size: 250%">
                <strong>Step 1</strong>
            </p>
            <p style="font-size: 150%">
                Submit a formal search to see if in fact your idea is new
            </p>
        </div>

        </br>
        </br>

        <div class="col-md-12" style="background-color: #FFFFFF">
                </br>

                <div class="col-md-12">
                <div class="col-md-8"  style="background-color: aliceblue;padding-bottom: 20px;">
                        </br>
                        <div class="col-md-4" style="background-color: transparent">
                            <p>
                                <strong>Patent Description</strong>
                            </p>
                        </div>
                        <div class="col-md-8" style="background-color: #FFFFFF; border:1px dashed blue; ">
                            <input class="photo file" data-help_section="project-image-help" id="project_photo" name="project[photo]" type="file" url="/projects/123" style="position: absolute">
                            <strong>"Something"</strong>
                            <p>
                                Write a full document describing your idea </br>
                            </p>
                        </div>
                        </br>


                </div>
                <div class="col-md-4">
                    <p>

                    </p>
                </div>
                </div>

                <p style="color: transparent">
                    a
                </p>



                <p style="color: transparent">
                    a
                </p>

                <div class="col-md-12">
                <div class="col-md-8" style="background-color: #F8F9FD ">

</div>
</div>
                </div>
                <div class="col-md-4">
                    <p>

                    </p>
                </div>
                </div>


        </div>
    </div>

    <div class="col-md-2"></div>
</div>

{% endblock %}