{% extends 'PP_Core/base.html' %}
{% load static %}

{% block content %}

<div class="flexible-container">

    {% include "PP_Inventions/invention_navigation.html" %}

    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="text-center">
            </br>
            </br>
            <p style="font-size: 250%">
                <strong>Lets get started.</strong>
            </p>
            <p style="font-size: 150%">
                Make a great first impression with your project’s title and image, and set your funding goal, campaign duration, and project category.
            </p>
        </div>

        </br>
        </br>

        <div class="col-md-12" style="background-color: #F0F8FF">
                </br>

                <div class="col-md-12">
                <div class="col-md-8" style="background-color: lightblue">
                        </br>
                        <div class="col-md-4" style="background-color: #4A90E2">
                            <p>
                                <strong>Project Image</strong>
                            </p>
                        </div>
                        <div class="col-md-8" style="background-color: #73AD21">
                            <input class="photo file" data-help_section="project-image-help" id="project_photo" name="project[photo]" type="file" url="/projects/123" style="position: absolute">
                            <strong>"Something"</strong>
                            <p>
                                This is the first thing that people will see when they come across your project. Choose an image that’s crisp and text-free.
                                </br>
                            </p>
                        </div>
                        </br>


                </div>
                <div class="col-md-4">
                    <p>

                    </p>
                </div>
                </div>

                <p style="color: transparent">
                    a
                </p>

                <div class="col-md-12">
                <div class="col-md-8" style="background-color: lightblue ">
                    </br>
                    <div class="col-md-4" style="background-color: #4A90E2">
                        <p>
                            <strong>Project Title</strong>
                        </p>
                    </div>
                    <div class="col-md-8" style="background-color: #73AD21">
                        <p>
                            submission zone
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <p>

                    </p>
                </div>
                </div>

                <p style="color: transparent">
                    a
                </p>

                <div class="col-md-12">
                <div class="col-md-8" style="background-color: #F8F9FD ">

</div>
</div>
                </div>
                <div class="col-md-4">
                    <p>

                    </p>
                </div>
                </div>


        </div>
    </div>

    <div class="col-md-2"></div>
</div>

{% endblock %}