<body style="background-color: rgba(227, 222, 228, 0.53)">

</br>
</br>

<div class="container-flexible">

    <div class="text-center">
        <div class="btn-group btn-group-lg" role="group" aria-label="..." >
            <a type="button" class="btn btn-default" href="{% url 'basics' %}">
                <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" style="color:red;"></span>  Patent Search Opinion Letter
            </a>
            <a type="button" class="btn btn-default" href="{% url 'basics' %}">
                <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" style="color:red;"></span>  Design
            </a>
            <a type="button" class="btn btn-default" href="{% url 'basics' %}">
                <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" style="color:red;"></span>  Illustrate
            </a>
            <a type="button" class="btn btn-default" href="{% url 'basics' %}">
                <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" style="color:red;"></span>  Describe
            </a>
            <a type="button" class="btn btn-default" href="{% url 'basics' %}">
                <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" style="color:red;"></span>  Engineer
            </a>
            <a type="button" class="btn btn-default" href="{% url 'basics' %}">
                <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" style="color:red;"></span>  Patent
            </a>
            <a type="button" class="btn btn-default" href="{% url 'basics' %}">
                <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" style="color:red;"></span>  Advertise
            </a>
            <a type="button" class="btn btn-default" href="{% url 'basics' %}">
                <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" style="color:red;"></span>  License
            </a>


            
        </div>
    </div>
</div>
</body>
