{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Inventions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static "PP_Core/images/favicon.ico" %}"/>
    <link rel="stylesheet" href="{% static 'PP_Inventions/PP_Inventions.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
          integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">

    <style>

        .card-columns {

         column-count: 4;
        }

        .card-img-top {
            height : 200px;
            width: 100%;
        }

        .card-title {
            height: 50px;
            width: 100%;
        }


        .card-text{
            height : 180px;
            width: 100%;
        }

        .categorysize {
            height : 10px;
            width: 100%;

        }


/* Overlay style block */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    /*font-size: 36px;*/
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #6E6D58;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
        /* End of Overlay styling */
    </style>


</head>
<body>

{% block content %}
    <nav class="navbar navbar-light role=" navigation">
    <ul class="nav navbar-nav float-xs-left">

        <li class="nav-item"><a class="nav-link" href="{% url 'discover' %}">Discover</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'add_invention' %}">How It Works</a></li>

        <li class="nav-item"><a class="nav-link" href="{% url 'aboutus' %}">About Us</a></li>


    </ul>

    <a href="{% url 'home' %}"> <img class="navbar-brand text-hide" src="{% static "PP_Core/images/PP_Logo.png" %}"
                                     alt="Patent Pick Logo"
                                     style="transform: translateX(-50%); left: 50%; position: absolute; width: 200px;"/></a>


    <ul class="nav navbar-nav float-xs-right">

        {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'dashboard' %}">
                <img src="{% static "PP_Core/userprofile.png" %}"> </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Log out</a></li>
        {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Log in</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>

        {% endif %}


    </ul>

    </nav>



    <div class="jumbotron">
        <div class="container">

                    <!-- Example single danger button -->
                <div id="myNav" class="overlay">
                  <a href="javascript:void(0)" class="closebtn" onclick="closeCategoryNav()"> &times; </a>
                      <div class="overlay-content">
                        {% if categoryList %}
                            {% for category in  categoryList %}
                                <a class="categoryOverlay2" href="#">{{ category.category_name }}</a>
                            {% endfor %}
                        {% endif %}
                      </div>
                </div>

                <span style="font-size:30px;cursor:pointer" onclick="openCategoryNav()">Category </span> Sorted By

                        <!-- Put price ranges here -->
                        <div id="priceNavigation" class="overlay">
                      <a href="javascript:void(0)" class="closebtn" onclick="closePriceNav()">&times;</a>
                      <div class="overlay-content">
                          <a class="priceOverlay" href="#"> $0.01 - $9.99 </a>
                          <a class="priceOverlay" href="#"> $10.00 - $19.99 </a>
                          <a class="priceOverlay" href="#"> $20.00 - $39.99 </a>
                          <a class="priceOverlay" href="#"> $40.00 - $69.99 </a>
                          <a class="priceOverlay" href="#"> $70.00 - $99.99 </a>
                          <a class="priceOverlay" href="#"> $100.00 - $149.99 </a>
                          <a class="priceOverlay" href="#"> $150.00 - $199.99 </a>
                          <a class="priceOverlay" href="#"> $200.00 - $299.99 </a>
                          <a class="priceOverlay" href="#"> $300.00 - $499.99 </a>
                          <a class="priceOverlay" href="#"> $500.00 and Up </a>
                      </div>
                </div>
                <span style="font-size:30px;cursor:pointer" onclick="openPriceNav()">Price</span>


        </div>
    </div>




    <div class="row">

        <div class="col-md-2">
        </div>

        <div class="col-md-8">


            {% if inventionList %}
                <div class="card-columns">
                    {% for invention in inventionList %}
                        <div class="card">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}{{ invention.picture }}"
                                 alt="Card image cap">
                            <div class="card-block">
                                <a href="/PP_Inventions/{{ invention.slug }}"><h4
                                        class="card-title">{{ invention.invention_name }}</h4></a>
                                <p class="card-text">


                                     <strong>Description: </strong>{{ invention.description|truncatechars:100 }} <br><br>

                                    <strong>Current Price: </strong>$<span class="aPrice">{{ invention.price }}</span><br>
                                    <strong>Category: </strong><span class="aCategory">{{ invention.category.category_name }}</span><br>





                                </p>
                                <table>
                                     
                                    <tr>
                                           
                                        <td>Hide</td>
                                           
                                        <td>Save</td>
                                           
                                        <td>Improve</td>
                                        <td>Select</td>
                                         
                                    </tr>

                                </table>

                            </div>

                        </div>
                    {% endfor %}
                </div>
            {% endif %}


        </div>

     <div class="col-md-2">
        </div>

    </div>





{% endblock %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
        integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"
        integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"
        integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK"
        crossorigin="anonymous"></script>
<script>
$(document).ready(function(){

    /* starts by hiding everything and then it selects what to show or hide */
    $('.card').each( function(index){
        $(this).css("display","none");
        //$(this).closest('card').
    });

    $('.aPrice').each( function(){
       /*
        if ( parseInt( $(this).text() ) > 500 && !(parseInt( $(this).text() ) < 500) ) {
            //$(this).closest(".card").hide();
            $(this).closest(".card").show();
       } else {
            $(this).closest(".card").hide();
            console.log("did this");
    }
    */
       $(this).closest(".card").show();


});

}); // end of document ready

/*  Overlay functions here  */
function openCategoryNav() {
    document.getElementById("myNav").style.width = "100%";
}

function closeCategoryNav() {
    document.getElementById("myNav").style.width = "0%";
}

function openPriceNav() {
    document.getElementById("priceNavigation").style.width = "100%";
}

function closePriceNav() {
    document.getElementById("priceNavigation").style.width = "0%";
}
/* end of overlay code here */


/*Price sorter thing*/
$(".priceOverlay").on(  'click', function() {
    var priceRangeAsString = $(this).text();

    var regex = /[+-]?\d+(\.\d+)?/g;
    var floats = priceRangeAsString.match(regex).map(function(v) { return parseFloat(v); });
    var bottomThreshold = floats[0];
    var topThreshold = floats[1];

    if ( bottomThreshold >= 499.99 && bottomThreshold <= 500.01 )
    {
        topThreshold = 1000000000.0;
    }

    $('.aPrice').each( function(){
    if ( parseInt( $(this).text() ) >= bottomThreshold && parseInt( $(this).text() ) <= topThreshold ) {
    //$(this).closest(".card").hide();
    $(this).closest(".card").show();
    } else {
    $(this).closest(".card").hide();

    }

    });
});

/*
$(".categoryOverlay").on(  'click', function() {

    var particularCategory = $(this).text();

    $('.aCategory').each( function(){
        if (  $(this).text() ===  particularCategory ) {
        //$(this).closest(".card").hide();
        $(this).closest(".card").show();
        } else {
        $(this).closest(".card").hide();
   }
});


});
*/

</script>

</body>


</html>