<body style="background-color: rgba(227, 222, 228, 0.53)">

</br>
</br>

<div class="container-flexible">

    <div class="text-center">
        <div class="btn-group btn-group-lg" role="group" aria-label="..." >
            <a type="button" class="btn btn-default" href="{% url 'post_basics' %}">
                <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" style="color:red;"></span>  Basics
            </a>
            <a type="button" class="btn btn-default" href="{% url 'post_story' %}">
                <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" style="color: red" ></span>  Story
            </a>
            <a type="button" class="btn btn-default" href="{% url 'post_about_you' %}">
                <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" style="color: red"></span>  About you
            </a>
            <a type="button" class="btn btn-default" href="{% url 'InventionDetails' %}" style="background-color: #2BDE73">
                  Submit
            </a>




        </div>
    </div>
</div>
</body>
