{% extends 'PP_Core/base.html' %}
{% load static %}


{% block content %}


<div class="container-flexible" >

<div class="jumbotron text-center"  style="background-image: url('{% static "PP_Inventions/images/get_started_background.png" %}'); background-size: 100%; margin-top: 0px">
    <h1  align="center"> Bring your inovative </br> invention to life.</h1>
    </br>
    <a class="btn btn-success btn-lg" href="{% url 'get_started' %}" role="button">Start an Invention</a>
 </div>

<body style="">
<div >
    <h4 align="Center"> Learn more about our invention categories:</h4>
    </br>

    <div class="col-md-1" style="background: transparent"></div>
    <div class="col-md-10" style="background: transparent" >

    <div align="center" style="background: transparent">
        {% for foo in categoryNames %}

        <button type="button" class="btn btn-primary" >
            {{ foo }}
        </button>

        {% endfor %}

    </div>
    </div >
    <div class="col-md-1" style="background: transparent"></div>

</div>
</body>

<div class="col-md-2" ></div>
<div class="col-md-8">
    </br>
    <div class="col-md-7">
        <h3> <strong> Patent Picks is a vibrant community of people working togther to bring new ideas to life. </strong> </h3>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <h1 style="color: mediumorchid; font-size:400%"> <strong> 11.9 <br></strong> </h1>
        <P style="font-size: 125%"> Million Inventions </P>

    </div>
</div>
<div class="col-md-2"></div>


</div>


{% endblock %}